<footer class="block block--dark footer">
  <div class="container grid footer__sections">
    <section class="collapsible collapsible--expanded footer__section">
      <!-- https://validator.w3.org Error: "The element header must not appear as a descendant of the footer element." 
           header => div -->
      <div class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Products</h2>
        <img
          class="icon collapsible__chevron"
          src="images/chevron.svg"
          alt=""
        />
      </div>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Website Hosting</a></li>
          <li><a href="#">Free Automated Wordpress</a></li>
          <li><a href="#">Migrations</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <div class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Company</h2>
        <img
          class="icon collapsible__chevron"
          src="images/chevron.svg"
          alt=""
        />
      </div>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">About</a></li>
          <li><a href="#">Affiliates</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <div class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Support</h2>
        <img
          class="icon collapsible__chevron"
          src="images/chevron.svg"
          alt=""
        />
      </div>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Contact</a></li>
          <li><a href="#">Knowledge base</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <div class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Domains</h2>
        <img
          class="icon collapsible__chevron"
          src="images/chevron.svg"
          alt=""
        />
      </div>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Domain Checker</a></li>
          <li><a href="#">Domain Transfer</a></li>
          <li><a href="#">Free Domain</a></li>
        </ul>
      </div>
    </section>
    <!-- https://validator.w3.org Warning: "Section lacks heading. Consider using h2-h6 elements to add identifying headings to all sections, or else use a div element instead for any cases where no heading is needed." 
         section => div -->
    <div class="footer__brand">
      <img src="images/logo.svg" alt="" />
      <p class="footer__copyright">Copyright 2020 Simon Lee</p>
    </div>
  </div>
</footer>
